html,
body {
  margin: 0;
  padding: 0;
  cursor: url("../img/cursor.png") 27 27, default;
}

body {
  height: 100vh;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

body::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url('../img/back.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  filter: blur(5px);
}

.count {
  padding: 20px 40px;
  font-size: 20px;
  color: #fff;
  background-color: darkslategrey;
  position: relative;
  z-index: 1;
}

.table {
  width: 90%;
  height: 182px;
  border-bottom: 10px solid brown;
  display: flex;
  justify-content: space-around;
  position: relative;
  bottom: 100px;
  z-index: 2;
  overflow: hidden;
}

.jar {
  width: 80px;
  height: 195px;
  background-image: url("../img/jar.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 130px;
  transform-origin: 50% bottom;
}

.jar.right {
  animation: toRight 15s infinite ease-out;
}

.jar.left {
  animation: toLeft 10s infinite ease-in-out;
}

.shot {
  display: block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: red;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  animation: toHide 1.5s forwards linear;
}

.del {
  opacity: 0;
  visibility: hidden;
}


@keyframes toRight {
  30% {
    transform: translateX(500px);
  }

  60% {
    transform: translateX(-1000px);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes toLeft {
  30% {
    transform: translateX(-500px);
  }

  60% {
    transform: translateX(1000px);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes toHide {
  0% {
    transform: opacity: 1;
    background-color: red;
  }
  
  50% {
    transform: opacity: 0;
  }

  100% {
    background-color: black;
    visibility: hidden;  
  }
}
